@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    
    background-color: black;
    color: #f6f6f6;
    box-sizing: border-box;
}


.Titulo{
    padding: 2% 0% 0% 15%;  
}

.navegacion{
    display: flex;
    gap: 80px;
}

.boton1{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color:#22D4FD
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 4% 16%;
    justify-content: space-between;
    
}

.contenido{
    width: 615px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    gap: 40px;
    
}

.fuenteTitulo{
    font-family: "Krona One", sans-serif;
    font-size: 36px;
   
    
}
.fuenteParrafo{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    
}

.bajoPagina{
    background-color:#22D4FD;
    color: #000000;
    padding: 24px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
}


